

.contactpage{
    
    margin-top: 4%;
    text-align: right;
    justify-items: center;
    margin-left: 40%;
    
  }
  
  .formpage{
   
    margin-left: 10%;
  }
  .formlen{
    height: 20%;
    width: 200%;
    background-color: #c6d2ec;
  }
  .position{
    text-align: right;
    
  }
  
  .btn-col{
    color: #0f2d2b;
    background-color: #2e88c4;
  }
  
  .image{
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .connect{
    margin-top: 70px;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .connectmessage{
    margin-top: 0;
    margin-left: 40px;
  }